body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

header{
    height: 130px;
    background-color: rgba(65, 95, 206, 1);
    display: flex;
    justify-content: space-between;
}

header .base-img{
    width: 250px;
    display: flex;
    align-self: center;
    margin-left: 200px;
}

header .logo{
    width: 110px;
    height: 99px;
}

header .titulo{
    display: flex;
    align-self: center;
    width: auto;
    height: auto;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
}

header .modo{
    background: rgba(31, 155, 95, 1);
    display: flex;
    align-self: center;
    margin-right: 200px;
    width: 250px;
    height: 60px;
    gap: 21px;
    border-radius: 24px;
    padding-top: 5px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-left: 16px;

}

header .modo img{
    width: 40px;
    height: 40px;
    display: flex;
    align-self: center;
}

header .modo p{
    color: white;
    display: flex;
    align-self: center;

    font-weight: 500;
    font-style: Medium;
    font-size: 20px;

    line-height: 100%;
    letter-spacing: -0.2px;
}

main{
    display: flex;
    flex-direction: column;
}

.botao{
    background-color: rgba(31, 155, 95, 1);
    width: auto;
    height: 100px;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px; 
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    line-height: 100%;
    letter-spacing: 0%;

    background-color: rgba(31, 155, 95, 1);
    color: white;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;

    transition: 0.7s ease;
}

.botao:hover{
    transform: scale(1.05);
    background-color: rgb(23, 126, 76);
}

.produto{
    margin: 100px 200px 100px 200px;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px; 
    justify-items: center;
    
}

.card-produto{
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-produto .parte-imagem{
    position: relative;
}

.card-produto .cima{
    width: 100%; 
    top: -10px; 
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box; 
}

.card-produto .rating{
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-produto .botoes{
    display: flex;
    justify-content: end;
    gap: 10px;
    
}

.card-produto .botoes #btn-remover, .card-produto .botoes #btn-editar{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 0;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.7s ease;
}

.card-produto .botoes #btn-remover{
    background-color: rgba(250, 6, 6, 1);
    
}

.card-produto .botoes #btn-remover:hover{
    transform: scale(1.1);
    background-color: rgb(228, 4, 4);
}

.card-produto .botoes #btn-editar{
    background-color: rgba(36, 59, 152, 1);
}

.card-produto .botoes #btn-editar:hover{
    transform: scale(1.1);
    background-color: rgb(30, 51, 133);
}

.card-produto .botoes img{
    width: 38px;
    height: 38px;
}


.card-produto img{
    width: 100%;
    height: auto;
    display: block;
}



.card-produto .informacoes{
    background-color: rgba(36, 59, 152, 1);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.card-produto .informacoes p{
    padding: 0 15px;
    margin: 3px 0;
}

.card-produto .informacoes .titulo, .card-produto .informacoes .preco{
    color: rgba(140, 191, 38, 1);

    font-weight: 700;
    font-style: Bold;
    font-size: 36px;

    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
    text-transform: uppercase;

    display: flex;
}

.card-produto .informacoes .titulo{
    margin-top: 10px;
}

.card-produto .informacoes .preco{
    margin-bottom: 10px;
    justify-content: end;
}

.card-produto .informacoes .categoria{
    color: white;

    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
    text-transform: uppercase;

    display: flex;
}

.card-produto .informacoes .descricao{
    color: white;

    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

    display: flex;
    text-align: end;
    justify-content: end;
}


footer{
    height: 180px;
    background-color: rgba(252, 247, 248, 1);

    display: flex;
    flex-direction: column;
    justify-items: center;
}

footer .endereco{
    margin-left: 200px;
}

footer .infos{
    display: flex;
    justify-content: space-between;
    
}

footer .titulo{
    color: rgba(78, 128, 152, 1);

    width: auto;
    height: auto;

    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 4%;
}

footer .texto{
    color: rgba(39, 69, 83, 1);

    display: flex;
    width: 301px;
    height: 92px;

    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 5%;
}

footer .contato .texto{
    width: auto;
    height: auto;
}

footer .contato{
    margin-right: 200px;
}

footer .links{
    display: flex;
    gap: 20px;
}

footer .copyright{
    padding: 0;
    margin: 0;
    background-color: rgba(65, 95, 206, 1);
    padding: 5px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    font-style: normal;
    font-size: 16px;

    line-height: 100%;
    letter-spacing: 5%;
}
